$primary-color: #1a7106;
$accent-color: #ffb400;
$primary: $primary-color;
$table-color: $primary-color;
$table-bg: $primary-color;
$table-dark-bg: $primary-color;
$table-dark-color: $accent-color;
$modal-content-bg: transparent;
$modal-content-border-width: 0;
